<aside class="mainAside">
	<h3 class="mainAside__title">Categories:</h3>
	<hr />
	<ul class="mainAside__list">
		<li class="mainAside__listItem">
			<a href="#!" class="mainAside__link">Category 1</a>
		</li>
		<li class="mainAside__listItem">
			<a href="#!" class="mainAside__link">Category 2</a>
		</li>
		<li class="mainAside__listItem">
			<a href="#!" class="mainAside__link">Category 3</a>
		</li>
	</ul>
</aside>
