<footer class="footer">
  <h3>Footer</h3>
</footer>

<script src="js/libs.min.js"></script>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
<script src="js/modules/common.js"></script>
</body>

</html>