		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<hr />
						Eleventy Blog 2021©
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
