<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <!-- <base href="/"> -->

  <title>Frontend Library | WebPX</title>
  <meta name="description" content="">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- <meta property="og:image" content="path/to/image.jpg"> -->
  <link rel="icon" href="img/favicon/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
  <meta name="theme-color" content="#000">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  <link rel="stylesheet" href="css/main.min.css">
  
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="header__wrapper">
            <div class="logo">
              <div class="logo__icon">
                <i class="far fa-file-code"></i>
              </div>
              <h2>Frontend Library</h2>
            </div>
            <div class="header__link">
              <a href="#!">
                <i class="fab fa-github"></i>
                <span>GitHub</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>