{% include "header.njk" %}
<main class="mainContent">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-3">{% include "aside.njk" %}</div>
			<div class="col-12 col-md-9">
				<div class="row">
					<div class="col-12">
						<h2 class="pageTitle">{{ title }}</h2>
					</div>
				</div>
				<div class="row">
					{% for post in collections.blog %}
					<div class="col-12 col-md-6 col-lg-4">
						<a href="{{post.url}}" class="newsCard">
							<div class="newsCard__img">
								<img src="https://via.placeholder.com/300x200" alt="" />
							</div>
							<div class="newsCard__content">
								<h3 class="newsCard__title">{{post.data.title}}</h3>
								<p class="newsCard__text">
									{{post.data.desc}}
								</p>
								<div class="newsCard__footer">
									<span>{{post.data.author}}</span>
									<span>{{post.data.date}}</span>
								</div>
							</div>
						</a>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</main>
{% include "footer.njk" %}
